section.menu
	.container
		.row.flex-column.flex-sm-row.justify-content-between.align-items-center
			.col-4.col-sm-2
				img.menu__logo(src='images/logos/logo-sm.png')
			.col-10
				nav.menu__nav.nav
					ul.menu__list
						li.menu__item
							a.menu__link.active(href='#home') Главная
						li.menu__item
							a.menu__link(href='#offer') Письменные переводы
						li.menu__item
							a.menu__link(href='#reasons') Устные переводы
						li.menu__item
							a.menu__link(href='#contacts') Контакты
	.menu__exit
	.menu__hamburger