.menu
	box-shadow 0 -2px 6px rgba(0,0,0,0.2)
	position relative
	width 100%
	background #fff
	z-index 99
	transition all 1s ease-in-out
	&__logo
		padding-top 10px
		padding-bottom 10px
	&__list
		display flex
		justify-content flex-end
		font-size 15px
		font-weight 400
		color #ccc
	&__item
		margin-left 60px
	&__link
		display inline-block
		padding-top 20px
		padding-bottom 15px
	&__exit
		display none
	&__hamburger
		display none
		
.menu_top
	top -100%
	transition all 1s ease-in-out

.menu_fixed
	top 0
	transition all 1s ease-in-out
	position fixed
	top 0
	left 0
	z-index 999

	
@media screen and (max-width: 880px)
	.menu
		&__list
			font-size 14px
		&__item
			margin-left 30px

@media screen and (max-width: 670px)
	.menu
		&__list
			font-size 12px
		&__item
			margin-left 15px
			
@media screen and (max-width: 575px)
	.menu
		position fixed
		height 100vh
		top 0
		right -100%
		background-color rgba(0,0,0,0.8)
		z-index 999
		&__logo
			margin-top 30px
		&__list
			color #fff
			font-size 15px
			flex-direction column
			align-items flex-end
		&__hamburger
			display block
			position fixed
			top 15px
			right 15px
			width 50px
			height 50px
			background-color rgba(0,0,0,0.3)
			color #fff
			font-size 25px
			line-height 50px
			opacity 0.5
			transition all 0.2s linear
			z-index 99
			cursor pointer
			&::before
				content '\f0c9'
				position absolute
				right 30%
				font-family 'FontAwesome'
			&:hover
				opacity 1
		&__exit
			position absolute
			width 30px
			height 30px
			display block
			top 50px
			right 50px
			cursor pointer
			&::before
				content ''
				position absolute
				top 3px
				right 15px
				width 2px
				height 25px
				background-color #fff
				transform rotate(45deg)
			&::after
				content ''
				position absolute
				top 3px
				right 15px
				width 2px
				height 25px
				background-color #fff
				transform rotate(-45deg)

