section.analysis#analysis
	.container
		.row
			.col
				.analysis__caption
					p Анализ
					p изменения стоимости для наших заказчиков
		.row
			.col
				.analysis__description
					p Мы провели для вас анализ 3-х текстов наших заказчиков, работающих в разных отраслях.
					p Даже при одинаковом объеме текстов стоимость перевода будет разной. Чем чаще повторяются фразы в документах, тем больше экономия.
		.row.flex-column.flex-md-row.align-items-center
			.col-11.col-md-4
				img.analysis__logo(src='images/logos/logo1.jpg' alt='')
				p.analysis__about График изменения средней стоимости 1 учетной страницы на примере Адвокатского Бюро EPAM (юридическая компания)
				img.analysis__graph(src='images/graph1.jpg' alt='')
			.col-11.col-md-4
				img.analysis__logo(src='images/logos/logo2.jpg' alt='')
				p.analysis__about График изменения средней стоимости 1 учетной страницы на примере Адвокатского Бюро EPAM (юридическая компания)
				img.analysis__graph(src='images/graph2.jpg' alt='')
			.col-11.col-md-4
				img.analysis__logo(src='images/logos/logo3.jpg' alt='')
				p.analysis__about График изменения средней стоимости 1 учетной страницы на примере Адвокатского Бюро EPAM (юридическая компания)
				img.analysis__graph(src='images/graph3.jpg' alt='')