section.about#about
	.about__layer
	.container
		.row.justify-content-end
			.col-12.col-sm-8.col-lg-7
				.about__description
					p Eclipse – имя самого быстрого в мире скакуна. Он выиграл все забеги, в которых участвовал. Само появление живой легенды на ипподроме лишало соперников малейших шансов на победу.
					p Среди наших клиентов есть крупные компании и министерства. Градообразующие предприятия и небольшие фирмы, которые только выходят на международную арену. Всем им важен быстрый и качественный результат.
					p И мы его гарантируем. Скорость наших переводов обеспечивает команда из более чем 1200 профессиональных лингвистов со всего мира. И оперативность новейших CAT-технологий.
					p Наша работа – открывающийся перед вами мир финансовых перспектив и международных бизнес-проектов. Мир коммуникаций, не ограниченный языковыми барьерами.
				p.about__subtitle Eclipse. Вы – впереди.

