// @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic,cyrillic-ext')

// @import 'icomoon/style'
// @import 'icomoon/variables'
@font-face
   font-family Roboto
   font-style normal
   src url(../fonts/Roboto-Regular.ttf)
   font-weight 400

@font-face
   font-family Roboto
   font-style normal
   src url(../fonts/Roboto-Light.ttf)
   font-weight 300
   
@font-face
   font-family Roboto
   font-style normal
   src url(../fonts/Roboto-Medium.ttf)
   font-weight 500

@font-face
   font-family Roboto
   font-style normal
   src url(../fonts/Roboto-Thin.ttf)
   font-weight 100
   
@font-face
   font-family Roboto
   font-style normal
   src url(../fonts/Roboto-Bold.ttf)
   font-weight 800
