doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(content='' name='description')
    meta(content='' name='keywords')
    meta(content='' property="og:site_name")
    link(rel='stylesheet' href='./css/style.css')
    script.
      var FontAwesomeConfig = {
        searchPseudoElements: true
      };
    script(defer src='./js/bundle.js')
    title Start site

  body.page
    include components/header/header
    include components/modalForm/modalForm
    include components/menu/menu
    include components/about/about
    include components/offer/offer
    include components/analysis/analysis
    include components/reasons/reasons
